/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	position: relative;
	display: inline-block;
	height: 32px;
	border: 0;
	padding: 0 19px;
	line-height: 28px;
	border-radius: 16px;
	background-color: $accent-color;
	border: 1px solid $accent-color;
	color: $white-color;
	text-transform: uppercase;
	font-size: 12px;
	cursor: pointer;
	transition: color .3s, background-color .3s;

	&.active,
	&:hover {
		background-color: transparent;
		color: $accent-color;
	}
}
