/* ------------------------------------------------------------ *\
	Variables
\* ------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400..700;1,100..900&family=Roboto:wght@400;500&display=swap');


$font-title: "Montserrat", sans-serif;
$font-primary: "Roboto", sans-serif;

$font-size-base: 10px;
$line-height-base: 1.2;

$responsive-sm: 767px;
$responsive-md: 1023px;

/*  Colors  */
$base-color: #F5F7F9;
$base-darker-color: #E1E7ED;
$disabled-color: #6F8CAA;
$dark-color: #1E3554;
$title-color: #1A3150;
$darker-color: #112948;
$accent-color: #00B1FF;

$white-color: #fff;

$mobile: '(max-width: #{$responsive-sm}) ';
$tablet-portrait: '(max-width: #{$responsive-md}) ';
$desktop: '(min-width: #{$responsive-md + 1}) ';

// Usage
// @media #{$desktop}
